<%-include("partials/header"); -%>
<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link " href="/">Duyurular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/aktif-mezatlar">Aktif Mezatlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sonlanan-mezatlar">Sonlanan Mezatlar</a>
  </li>

</ul>

<div class="container">
  <div class="hakkımızda">
    <h3>Hakkımızda</h3>
  </div>
  <hr>
  <div class="maddeler">
    <p>Nümismatik dünyasına gönül koymuş genç bir şirketiz. Faaliyet alanımızı Nümismatik ,
      Filateli ve Efemera olarak özetlemek mümkündür. Bu alanlarda siz değerli kolleksiyonerlerimiz için düzenleyeceğimiz müzayedeler
      ile sizlere en iyi servisi vermeyi hedeflemekteyiz.</p>
    <p>Felsefemizi kalite, güvenilirlik, dürüstlük kavramlari ve nümismatiğe olan tutkumuz ile özetlemek mümkündür.</p>
    <p>Kolleksiyonerlik hobi olmasının yanı sıra, tarihi korumak için sarf edilen önemli bir gayrettir.</p>
    <p>Madeni ve Kağit paralar tarihimizin en güzel kanıtları olmakla kalmıyor, bizlere geçmişe dokunma fırsatı da sağlıyorlar.</p>
    <p>Günümüz de kolleksiyonerlerin konsantre olabileceği birçok değişik alan mevcut.
      Şirketimizin amacı siz kolleksiyonerlerin bu alanlardaki hedeflerine ulaşmak için yön göstermektir..</p>
    <p>Ankara Mezat olarak en önemli hedefimiz sizlerle ileri düzeyde kişisel temas kurabilmek ve bu esnada sizlere tarafsız
      ve değerli tavsiyelerimizi sunabilmektir. Bu seviyede kuracağımız dostluğumuz sayesinde sizlerin Nümismatik dünyasındaki
      tecrübenizi zenginleştirebileceğimizden de eminiz.</p>
    <p>Saygılarımızla;</p>
    <p>ANKARA MEZAT EKİBİ</p>

  </div>

</div>

<%-include("partials/footer"); -%>
