<%-include("partials/header"); -%>
<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link " href="/">Duyurular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aktif-mezatlar">Aktif Mezatlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sonlanan-mezatlar">Sonlanan Mezatlar</a>
  </li>

</ul>
<div class="container">
  <div class="hakkımızda">
    <h3>İptal ve İade Koşulları</h3>
  </div>
  <hr>
  <div class="maddeler kullanici-sozlesmesi-list">
    <h4>TÜKETİCİ HAKLARI – CAYMA – İPTAL İADE KOŞULLARI</h4>
    <h5>GENEL</h5>

    <ol>
      <li>Kullanmakta olduğunuz web sitesi üzerinden elektronik ortamda sipariş verdiğiniz takdirde, size sunulan ön bilgilendirme
        formunu ve mesafeli satış sözleşmesini kabul etmiş sayılırsınız.</li>
      <li>Alıcılar, satın aldıkları ürünün satış ve teslimi ile ilgili olarak 6502 sayılı Tüketicinin Korunması Hakkında Kanun ve
        Mesafeli Sözleşmeler Yönetmeliği (RG:27.11.2014/29188) hükümleri ile yürürlükteki diğer yasalara tabidir.</li>
      <li>Ürün sevkiyat masrafı olan kargo ücretleri alıcılar tarafından ödenecektir.</li>
      <li>Satın alınan her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile  alıcının gösterdiği adresteki kişi ve/veya kuruluşa
        teslim edilir. Bu süre içinde ürün teslim edilmez ise,  Alıcılar sözleşmeyi sona erdirebilir. </li>
      <li>Satın alınan ürünler, eksiksiz ve müzayedelerimiz de belirtilen niteliklere uygun ve varsa sertifikaları ile birlikte
        teslim edilmek zorundadır.</li>
      <li>Satın alınan ürünün satılmasının imkansızlaşması durumunda, satıcı bu durumu öğrendiğinden itibaren 3 gün içinde yazılı
        olarak alıcıya bu durumu bildirmek zorundadır. 14 gün içinde de toplam bedel Alıcı’ya iade edilmek zorundadır.</li>
    </ol>
    <h5>SATIN ALINAN ÜRÜN BEDELİ ÖDENMEZ İSE:</h5>
    <ol start="7">
      <li>Alıcı, satın aldığı ürün bedelini ödemez veya banka kayıtlarında iptal ederse, Satıcının ürünü teslim yükümlülüğü sona erer.</li>
      <li>Alıcının üyeliği, yeni satınalma ve pey verme işlemlerine, site yöneticisi tarafından kapatılır.</li>
    </ol>
    <h5>KREDİ KARTININ YETKİSİZ KULLANIMI İLE YAPILAN ALIŞVERİŞLER: </h5>
    <ol start="9">
      <li>Ürün teslim edildikten sonra, alıcının ödeme yaptığı kredi kartının yetkisiz kişiler tarafından haksız olarak kullanıldığı
        tespit edilirse ve satılan ürün bedeli ilgili banka veya finans kuruluşu tarafından Satıcı'ya ödenmez ise,
        Alıcı, sözleşme konusu ürünü 3 gün içerisinde nakliye gideri SATICI’ya ait olacak şekilde SATICI’ya iade etmek zorundadır. </li>
    </ol>
    <h5>ÖNGÖRÜLEMEYEN SEBEPLERLE ÜRÜN SÜRESİNDE TESLİM EDİLEMEZ İSE: </h5>
    <ol start="10">
      <li>Satıcı’nın öngöremeyeceği mücbir sebepler oluşursa ve ürün süresinde teslim edilemez ise, durum Alıcı’ya bildirilir.
        Alıcı, siparişin iptalini, ürünün benzeri ile değiştirilmesini veya engel ortadan kalkana dek teslimatın ertelenmesini
        talep edebilir. Alıcı siparişi iptal ederse; ödemeyi nakit ile yapmış ise iptalinden itibaren 14 gün içinde kendisine
        nakden bu ücret ödenir. Alıcı, ödemeyi kredi kartı ile yapmış ise ve iptal ederse, bu iptalden itibaren yine 14 gün içinde
        ürün bedeli bankaya iade edilir, ancak bankanın alıcının hesabına 2-3 hafta içerisinde aktarması olasıdır. </li>
    </ol>
    <h5>ALICININ ÜRÜNÜ KONTROL ETME YÜKÜMLÜLÜĞÜ: </h5>
    <ol start="11">
      <li>Alıcı, sözleşme konusu mal/hizmeti teslim almadan önce muayene edecek; ezik, kırık, ambalajı yırtılmış vb.
        hasarlı ve ayıplı mal/hizmeti kargo şirketinden teslim almayacaktır. Teslim alınan mal/hizmetin hasarsız ve sağlam
        olduğu kabul edilecektir. ALICI , Teslimden sonra mal/hizmeti özenle korumak zorundadır. Cayma hakkı kullanılacaksa
        mal/hizmet hiçbir şekilde deforme etmeden satıcıya ürünlerle birlikte Fatura da iade edilmelidir.</li>
    </ol>
    <h5>CAYMA HAKKI: </h5>
    <ol start="12">
      <li>ALICI; satın aldığı ürünün kendisine veya gösterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 14 (on dört) gün
         içerisinde, SATICI’ya aşağıdaki iletişim bilgileri üzerinden bildirmek şartıyla hiçbir hukuki ve cezai sorumluluk üstlenmeksizin
         ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkını kullanabilir.</li>
      <li>SATICININ CAYMA HAKKI BİLDİRİMİ YAPILACAK İLETİŞİM BİLGİLERİ:
      <p>ŞİRKET: Ankara Mezat </p>
      <p>ADI/UNVANI:Murat AYDIN</p>
      <p>ADRES: Menekşe-1 sokak 6/12 Kızılay/Çankaya/ANKARA</p>
      <p>EPOSTA:iletisim@ankaramezat.com</p>
      <p>TEL: 0(505) 332 94 80</p></li>
    </ol>
    <h5>CAYMA HAKKININ SÜRESİ: </h5>
    <ol start="14">
      <li>Cayma hakkının kullanımından kaynaklanan masraflar SATICI’ ya aittir.</li>
      <li>Cayma hakkının kullanılması için 14 (ondört) günlük süre içinde SATICI' ya iadeli taahhütlü posta, telefon veya
        eposta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen "Cayma Hakkı Kullanılamayacak Ürünler"
        hükümleri çerçevesinde kullanılmamış olması şarttır. </li>
    </ol>
    <h5>CAYMA HAKKININ KULLANIMI: </h5>
    <ol start="16">
      <li>Üçüncü kişiye veya ALICI’ ya teslim edilen ürünün faturası, (İade edilmek istenen ürünün faturası kurumsal ise, iade ederken
          kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi gerekmektedir. Faturası kurumlar adına düzenlenen sipariş
          iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır.)</li>
      <li>İade formu, İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve
          hasarsız olarak teslim edilmesi gerekmektedir.</li>
    </ol>
    <h5>İADE KOŞULLARI: </h5>
    <ol start="18">
      <li>SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde toplam bedeli ve
        ALICI’yı borç altına sokan belgeleri ALICI’ ya iade etmek ve 20 günlük süre içerisinde malı iade almakla yükümlüdür.</li>
      <li>ALICI’ nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imkânsızlaşırsa ALICI kusuru
        oranında SATICI’ nın zararlarını tazmin etmekle yükümlüdür. Cayma hakkı süresi içinde malın veya ürünün usulüne uygun
        saklanması ve ürün de ürünün değerini düşürecek bir kusur oluşmadan iade etmek ister ise, ALICI sorumlu değildir.  </li>
      <li>Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen kampanya limit tutarının altına düşülmesi halinde
        kampanya kapsamında faydalanılan indirim miktarı iptal edilir.</li>
    </ol>
    <h5>TEMERRÜT HALİ VE HUKUKİ SONUÇLARI: </h5>
    <ol start="21">
      <li>ALICI, ödeme işlemlerini  kredi kartı ile yaptığı durumda temerrüde düştüğü takdirde, kart sahibi banka ile arasındaki
        kredi kartı sözleşmesi çerçevesinde faiz ödeyeceğini ve bankaya karşı sorumlu olacağını kabul, beyan ve taahhüt eder.
        Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekâlet ücretini ALICI’dan talep edebilir ve
        her koşulda ALICI’nın borcundan dolayı temerrüde düşmesi halinde, ALICI, borcun gecikmeli ifasından dolayı SATICI’nın
        uğradığı zarar ve ziyanını ödeyeceğini kabul eder. </li>
    </ol>
    <h5>ÖDEME VE TESLİMAT: </h5>
    <ol start="22">
      <li>Banka Havalesi veya EFT (Elektronik Fon Transferi) yaparak, Ankara Mezat firmasının XX bankası
        hesabımıza, TR XX XXXX XXXX XXXX XXXX XXXX XX ıban numaralı,  (TL) olarak ödemenizi yapabilirsiniz. </li>
      <li>Sitemiz üzerinden kredi kartlarınız ile, her türlü kredi kartınıza online tek ödeme imkânlarından yararlanabilirsiniz.
        Online ödemelerinizde siparişiniz sonunda kredi kartınızdan tutar çekim işlemi gerçekleşecektir.</li>
      <li>Ödeme işleminizi yaptıktan, 2 iş günü içerisinde sitemizde belirtmiş olduğunuz açık adresinize ürünlerinizi
        XXX Kargo ile alıcı ödemeli olarak gönderilecektir.</li>
    </ol>
  </div>

</div>



<%-include("partials/footer"); -%>
