<%-include("partials/header"); -%>
<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link " href="/">Duyurular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aktif-mezatlar">Aktif Mezatlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sonlanan-mezatlar">Sonlanan Mezatlar</a>
  </li>

</ul>
<div class="container">
  <div class="hakkımızda">
    <h3>Kullanıcı Sözleşmesi</h3>
  </div>
  <hr>
  <div class="maddeler kullanici-sozlesmesi-list">
    <h5>Madde 1. Taraflar:</h5>
    <p>İşbu Kullanıcı Sözleşmesi (“Sözleşme”), Aydın Koleksiyon (“Şirket”) ile www.ankaramezat.com adresinde
      yer alan siteye (“Site”) kullanıcı (“Kullanıcı(lar)”) olarak kaydolan kişi arasında akdedilmektedir.
      Sözleşme, Kullanıcı tarafından elektronik ortamda kabulü ile birlikte yürürlüğe girecek olup; taraflarca Sözleşme’de belirtilen
      usuller doğrultusunda sona erdirilmediği sürece yürürlükte kalmaya devam edecektir. </p>
    <h5>Madde 2. Sözleşme’nin Konusu ve Kapsamı:</h5>
    <p>İşbu Sözleşme, Kullanıcı tarafından, Site üzerinden erişilen müzayedelerimizde ki ürünlere pey verme ve ürün satınalama
      şartları ile ilgili tarafların hak ve yükümlülüklerinin belirlenmesi amacıyla akdedilmektedir. Site içeriğinde,
      müzayede kuralları, Şirket tarafından Kullanıcılar’a sunulan kullanım koşulları, kural ve şartlar da işbu Sözleşme’nin eki
      ve ayrılmaz bir parçası niteliğinde olup burada yer alan hak ve yükümlülüklerle birlikte tarafların hak ve yükümlülüklerinin
      tamamını oluşturmaktadır.</p>
    <h5>Madde 3. Tarafların Hak ve Yükümlülükleri:</h5>
    <ol type="i">
      <li>Kullanıcı, Müzayedeler den faydalanmak için Şirket tarafından talep edilen bilgileri tam, doğru ve güncel bir şekilde
        sağlayarak işbu Sözleşme’yi onaylaması gerektiğini bildiğini beyan eder. Kullanıcı statüsünün tesisi sırasında sağlanan
        bilgilerde herhangi bir değişiklik olması halinde, söz konusu bilgiler derhal güncellenecektir. Bu bilgilerin eksik veya
        gerçeğe aykırı olarak verilmesi ya da güncel olmaması nedeniyle siteye erişim sağlanamamasından ve bunlardan
        faydalanılamamasından Şirket sorumlu değildir.</li>
      <li>Kullanıcı, 18 yaşını doldurmuş olduğunu ve işbu Sözleşme’yi akdetmek için gereken yasal ehliyete sahip bulunduğunu beyan eder.
        Kullanıcı’nın Site’ye bir işletme adına erişiyor olması halinde, Kullanıcı buna ilişkin gerekli yetkiyi haiz olduğunu kabul ve
        beyan eder. Bu durumda Kullanıcı statüsü ile hak ve yükümlülükler söz konusu işletmeye ait olacaktır.</li>
      <li> Kullanıcı, tek bir Kullanıcı hesabı tesis etme hakkına sahip olup, Kullanıcı hesabının Şirket tarafından askıya alınması
        veya sona erdirilmesini takiben Kullanıcı tarafından aynı veya başka bilgiler kullanılarak ikinci bir hesap tesis edilmesi
        yasaktır. Şirket’in herhangi bir gerekçe göstermeksizin, tamamen kendi iradesine tabi olarak Kullanıcı hesabının açılmasını
        reddetme hakkı saklıdır.</li>
      <li>Kullanıcı tarafından Site’ye erişim e-posta adresi ve şifresi kullanılarak gerçekleştirilecektir.
          Bu şifrenin gizliliğinin ve güvenliğinin korunmasından Kullanıcı sorumlu olacak olup Site üzerinden söz konusu
          bilgilerin kullanımı ile gerçekleştirilen her türlü faaliyetin Kullanıcı tarafından gerçekleştirildiği kabul edilecek,
          bu faaliyetlerden doğan her türlü yasal ve cezai sorumluluk Kullanıcı’ya ait olacaktır. Kullanıcı, şifresinin yetkisiz
          kullanımı veya güvenliğin başka şekilde ihlalinden haberdar olduğunda bu durumu derhal Şirket’e bildirecektir.</li>
      <li>Kullanıcı, Siteyi yalnızca yasalara uygun faaliyetleri için kullanacağını, işbu Sözleşme, ekleri, yürürlükteki mevzuat ve
        Siteye ilişkin olarak Site’de öngörülen diğer hüküm ve koşullara uygun davranacağını kabul ve taahhüt eder.</li>
      <li>Siteye ilişkin teknik sorunlar çıkması halinde Kullanıcı, Şirket’le iletişime geçemeden önce sorunu tespit ve teşhis
        etmek için makul çabayı sarf edecektir. Kullanıcı’nın teknik destek ihtiyacının devam etmesi halinde gerekli destek site
        yöneticisi yahut diğer uygun kanallardan sağlanacaktır.</li>
      <li>Kullanıcı’ya Site üzerinden iletişim araçları (forum, sohbet araçları veya mesaj merkezi gibi) sağlanması durumunda
        Kullanıcı bu iletişim araçlarını yalnızca hukuka uygun amaçlar çerçevesinde kullanacağını beyan ve taahhüt eder. Kullanıcı,
        söz konusu iletişim araçlarını ürün ve hizmet satışı, karşı tarafın rızası olmadan gönderilen e-postalar, üçüncü kişilerin
        yazılım ve bilgisayar sistemlerine zarar verebilecek dosyalar, diğer kullanıcılar bakımından hakaret içeren içerikler
        yahut hukuka aykırı her türlü içerik de dahil olmak üzere Uygulama amacı dışında materyaller paylaşmak için kullanmayacaktır.
        Kullanıcı, Site üzerinden gerçekleştirdiği her türlü iletişim bakımından bunu yapma yetkisini haiz olduğunu taahhüt eder.
        Şirket’in Site üzerinden gerçekleştirilen iletişimlerin uygunluğunu yahut bunların Site’nin kullanım amaçlarına yönelik
        olduğunu kontrol etme yükümlülüğü bulunmamaktadır.</li>
      <li>Şirket, herhangi bir ön bildirimde bulunmaksızın işbu Sözleşme ve eklerini revize etme hakkına sahip olup bu hakkın kullanılması
        halinde ilgili değişiklik Kullanıcı tarafından Site’nin bir sonraki kullanımı ile birlikte yürürlüğe girecektir.
        Kullanıcı’nın söz konusu değişiklikleri kabul etmemesi halinde işbu Sözleşme’yi aşağıda belirtilen şekilde feshetme hakkı
        saklıdır.</li>
      <li>Kullanıcı, Kullanıcı hesabını ve işbu Sözleşme ile Site kullanımından doğan hak ve yükümlülüklerini herhangi bir şekilde
        üçüncü bir kişiye devir veya temlik edemez.</li>
      <li>Kullanıcı’nın işbu Sözleşme ve Site kapsamında yer alan diğer koşul ve şartlar ile bu kapsamdaki beyan ve taahhütlerine
        aykırı davranması halinde Şirket Kullanıcı’nın üyeliğini askıya alma veya Sözleşme’yi aşağıda belirtilen şekilde
        feshederek kullanıcı statüsünü bu şekilde sona erdirme hakkına sahip olacaktır. Böyle bir durumda Şirket’in söz konusu
        aykırılıktan doğan zararlarının Kullanıcı’dan talep hakkı saklıdır.</li>
      <li>Her bir üye için limit tanımlanması ve belirlenen limitin gerek duyulduğu taktirde Janus Mezat tarafından değiştirilebilinir.</li>
    </ol>
    <h5>Madde 4. Ödeme Koşulları:</h5>
    <ol type="i">
      <li>Kullanıcı Müzayedelerden kazandığı ürünleri ancak Site’de beyan edilen ücretleri yine Site’de beyan edilen ödeme koşulları
        ve araçları ile tam ve eksiksiz olarak ödemesi karşılığında ürünleri almaya hak edecektir.</li>
      <li>Şirket, Kullanıcı tarafından iletilen iletişim adresine, müzayede de kazandığı ürünlerin bedelini ödemesinden sonra
        2 iş gün içerisinde, ürünleri ve faturasıyla gönderecektir.</li>
    </ol>
    <h5>Madde 5. Fikri Mülkiyet Hakları:</h5>
    <ol type="i">
      <li>Site üzerindeki her türlü hak, mülkiyet ve menfaat Şirket’e aittir. İşbu Sözleşme kapsamında Kullanıcı sitede yayınlanan
        müzayedeler deki ürünlerin kullanması ve hizmetlerin sağlanmasına yönelik diğer amaçlarla, bilgilerinin ve
        İçerik’in kullanılması, kopyalanması, iletilmesi, saklanması ve yedeğinin alınması için kullanım hakkı tanınmamaktadır.</li>
      <li>Kullanıcı, hiçbir şekilde ve nedenle Site de yayınlanan müzayedeler deki ürünleri kopyalama, sosyal medyada bilgilerini
        paylaşama, kendine ait ürün olduğunu belirttip satışını yapma hakkına sahip değildir. Site’ye ilişkin tarayıcı ve
        içeriklerin herhangi bir şekilde değiştirilmesi, Şirket’in açık izni olmaksızın Site’ye veya Site’den link verilmesi
        kesinlikle yasaktır.</li>
      <li>Kullanıcı, herhangi bir şekilde Şirket’in (veya bağlı şirketlerinin) ticari unvanını, markasını, hizmet markasını,
        logosunu, alan adını vs. kullanmayacaktır.</li>
    </ol>
    <h5>Madde 6. Sözleşme’nin Yürürlüğü ve Feshi:</h5>
    <ol type="i">
      <li>İşbu Sözleşme Kullanıcı tarafından elektronik ortamda kabulü ile birlikte yürürlüğe girecek ve taraflardan herhangi biri
        tarafından aşağıda belirtilen şekilde feshedilmediği sürece yürürlükte kalacaktır.</li>
      <li>Taraflardan herhangi biri, diğer tarafça bildirilen elektronik posta adresine 1 (bir) hafta önceden yapacağı yazılı bir
        bildirimle işbu Sözleşme’yi dilediği zaman herhangi bir gerekçe göstermeksizin ve tazminat ödemeksizin feshedebilecektir.</li>
      <li>Taraflar’dan birinin işbu Sözleşme’den kaynaklanan yükümlülüklerini tam ve gereği gibi yerine getirmemesi ve diğer
        tarafça yapılacak yazılı bildirime karşın söz konusu aykırılığın verilen süre içerisinde giderilmemesi halinde bu Sözleşme
        bildirimi yapan tarafça feshedilebilecektir. Bahsi geçen aykırılığın Kullanıcı tarafından gerçekleştirilmesi halinde Şirket
        aykırılık giderilene kadar Kullanıcı statüsünü askıya alma hakkına sahip olacaktır. Kullanıcı’nın yürürlükteki mevzuatı ihlal
        etmesi halinde Şirket Sözleşme’yi derhal geçerli olacak şekilde haklı nedenle feshedebilecektir.</li>
      <li>Sözleşme’nin feshi Taraflar’ın fesih tarihine kadar doğmuş olan hak ve yükümlülüklerini ortadan kaldırmayacaktır.
        Sözleşme’nin feshi ile birlikte Kullanıcı, o güne kadar doğmuş olan tüm ücret ve masraflardan sorumlu olacaktır.
        Kullanıcı’ya para iadesi yapılmaz.</li>
      <li>Kullanıcı’nın hesabının 3 (üç) ay boyunca pasif olması halinde Şirket işbu Sözleşme’yi feshedebilecektir.</li>
      <li>Kullanıcı hesabının yasal nedenlerle engellenmiş olmadığı ve Sözleşme’nin feshedildiği hallerde Şirket İçerik’e
        6 (altı) ay boyunca salt okunur erişim sağlayacaktır.</li>
      <li>Şirket, işbu Sözleşme yürürlükte olduğu müddetçe İçerik’i veritabanlarında saklama hakkına sahiptir.
        Kullanıcı’nın üyelik döneminin veya işbu Sözleşme’nin sona ermesini takip eden 6 (altı) ay içinde Kullanıcı İçerik’i
        ücret ödemeksizin alabilecektir. Şirket, bu sürenin sona ermesinden sonra iletilen söz konusu talepler için ücret talep
        edebilecektir. İlgili ücretler Uygulama kapsamında belirtilecektir.</li>
    </ol>
    <h5>Madde 8. Muhtelif Hükümler:</h5>
    <ol type="i">
      <li>İşbu Sözleşme’nin herhangi bir hükmünün veya sözleşmede yer alan herhangi bir ifadenin geçersizliği, yasaya aykırılığı
        ve uygulanamazlığı, Sözleşme’nin geri kalan hükümlerinin yürürlüğünü ve geçerliliğini etkilemeyecektir.</li>
      <li>İşbu Sözleşme ekleri ile bir bütündür. Sözleşme ile ekleri arasında herhangi bir çelişki olması halinde,
        ilgili eklerde yer alan hükümler geçerli olacaktır.</li>
      <li>Kullanıcı ile kayıt olurken bildirdikleri e-mail vasıtasıyla veya Site’de yer alan genel bilgilendirme aracılığıyla
        iletişim kurulacaktır. E-mail ile yapılan iletişim yazılı iletişimin yerini tutar. E-mail adresini güncel tutmak ve Site’yi
        bilgilendirmeler için düzenli kontrol etmek Kullanıcı’nın sorumluluğundadır.</li>
      <li>İşbu Sözleşme ve eklerinden kaynaklı uyuşmazlıklarda Ankara Merkez (Sıhhıye) Mahkemeleri ve İcra Daireleri geçerli olacaktır.</li>
    </ol>

  </div>

</div>



<%-include("partials/footer"); -%>
