<%-include("partials/header"); -%>
<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link " href="/">Duyurular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/aktif-mezatlar">Aktif Mezatlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sonlanan-mezatlar">Sonlanan Mezatlar</a>
  </li>

</ul>

<div class="container kullanici-formu">
            <form action="/kullanici-bilgileri" method="post" class="form-horizontal" role="form">
                <h2>Kullanıcı Bilgileriniz</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Adınız</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Soyadınız</label>
                    <div class="col-sm-9">
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email* </label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control" name= "email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Şifre*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Şifre Tekrar*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Doğum Tarihiniz*</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-3 control-label">Telofon Numaranız </label>
                    <div class="col-sm-9">
                        <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="adress" class="col-sm-3 control-label">Adres Satırı-1</label>
                    <div class="col-sm-9">
                        <input type="text" id="adress" class="form-control" required
                      minlength="4" maxlength="400" size="200">
                    </div>
                </div>
                <div class="form-group">
                    <label for="adress" class="col-sm-3 control-label">Adres Satırı-2</label>
                    <div class="col-sm-9">
                        <input type="text" id="adress" class="form-control" required
                      minlength="4" maxlength="400" size="200">
                    </div>
                </div>
                <div class=""form-group"">
                  <label for="adress" class="col-sm-3 control-label">Şehir</label>
                </div>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Regular link</a>
                  <a class="dropdown-item active" href="#">Active link</a>
                  <a class="dropdown-item" href="#">Another link</a>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Zorunlu Alanlar</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg kaydet-butonu">Kaydet</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->



<%-include("partials/footer"); -%>
