<%-include("partials/header"); -%>
<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link " href="/">Duyurular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aktif-mezatlar">Aktif Mezatlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sonlanan-mezatlar">Sonlanan Mezatlar</a>
  </li>

</ul>
<div class="container">
  <div class="hakkımızda">
    <h3>Mesafeli Satış Sözleşmesi</h3>
  </div>
  <hr>
  <div class="maddeler kullanici-sozlesmesi-list">

    <h4>MESAFELİ SATIŞ SÖZLEŞMESİ</h4>
    <h5>MADDE 1- TARAFLAR :</h5>
      <p>İşbu Sözleşme aşağıdaki taraflar arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde imzalanmıştır:</p>
      <ol type="A">
        <li>‘ALICI’ ; (sözleşmede bundan sonra "ALICI" olarak anılacaktır)</li>
        <li>‘ARACI’ ; (sözleşmede bundan sonra "ARACI" olarak anılacaktır)</li>
      </ol>
      <p><strong>UNVANI:</strong> AYDIN KOLEKSİYON</p>
      <p><strong>ADRES:</strong> Menekşe-1 sokak 6/12 Kızılay/Çankaya/ANKARA</p>
      <p><strong>EPOSTA:</strong>iletisim@ankaramezat.com</p>
      <p><strong>TEL:</strong> 0(505) 332 94 80</p>
      <p>İş bu sözleşmeyi kabul etmekle ALICI, sözleşme konusu siparişi onayladığı takdirde sipariş konusu bedeli ve
        varsa kargo ücreti, vergi gibi belirtilen ek ücretleri ödeme yükümlülüğü altına gireceğini ve bu konuda bilgilendirildiğini
        peşinen kabul eder.</p>
    <h5>MADDE 2- SÖZLEŞME KONUSU</h5>
    <p>İşbu sözleşmenin konusu,  alıcının, ARACI dan elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı
      belirtilen ürünün satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli
      Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.</p>
    <h5>MADDE 3- ÜRÜN </h5>
    <p>İşbu mesafeli satış sözleşmesi konusu ürün, ödeme ve teslim bilgileri aşağıdaki gibidir:</p>
    <br>
    <p>Ürün                     :</p>
    <p>Ürün numarası            :</p>
    <p>Satış fiyatı(+KDV)       :</p>
    <p>Aracı Komisyonu          :</p>
    <p>Kargo Bedeli             :</p>
    <p>TOPLAM                   :</p>
    <p>Ödeme şekli              :</p>
    <p>Teslimat Adresi          :</p>
    <p>Teslim edilecek kişi     :</p>
    <p>Fatura Adresi            :</p>
    <p>Sipariş Tarihi           :</p>

    <h5>MADDE 4- GENEL HÜKÜMLER </h5>
    <ol type="A">
      <li> Alıcı, ARACI'ya ait www.ankaramezat.com alan adlı internet sitesinde satışa arz edilen mesafeli satış
        sözleşmesine konu ürünün/ürünlerin http://www.ankaramezat.com alan adlı internet sitesinde belirtilen ve
        yukarıda yer alan satış fiyatı, ödeme şekli ve teslimata ilişkin ön bilgileri ve diğer bilgileri okuyup
        doğru ve eksiksiz şekilde bilgi sahibi olduğunu ve elektronik ortamda satın almaya ilişkin gerekli teyidi
        verdiğini kabul ve beyan eder.</li>
      <li>Mesafeli satış sözleşmesine konu ürün/ürünler, şehir içi teslimlerde 7 gün, şehir dışı teslimlerde 14 gün içinde,
        her halde yasa ve yönetmeliklerle belirlenen yasal 30 (otuz) günlük süreyi aşmamak koşulu ile her bir ürün için
        Alıcı'nın yerleşim yerinin uzaklığına bağlı olarak Alıcı veya gösterdiği adresteki kişi/kuruluşa teslim edilir.
        İşbu teslim süresi ilgili ürüne/ürünlere ilişkin ödemenin yapılması tarihinden itibaren başlayacaktır.</li>
      <li>Sözleşme konusu ürün, Alıcı'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı
        kabul etmemesinden ARACI sorumlu tutulamaz.</li>
      <li>Kargo firmasının, ürünü Alıcı’ya teslimi aşamasında karşılaşacağı her türlü sorun nedeniyle, siparişi verilen ürünün
        Alıcı'ya teslim edilememesinden veya geç teslim edilmesinden dolayı ARACI sorumlu tutulamaz.</li>
      <li>ARACI Sözleşme konusu ürünü eksiksiz, siparişte belirtilen niteliklere uygun teslim etmeyi, her türlü ayıptan arî olarak
        yasal mevzuat gereklerine göre sağlam, standartlara uygun bir şekilde doğruluk ve dürüstlük esasları dâhilinde edimini
        ifa etmeyi, hizmet kalitesini koruyup yükseltmeyi, işin ifası sırasında gerekli dikkat ve özeni göstermeyi, ihtiyat ve
        öngörü ile hareket edeceğini kabul, beyan ve taahhüt eder.</li>
      <li>Alıcı, ürünü/ürünleri teslim aldığı anda kontrol etmekle ve üründe/ürünlerde kargodan kaynaklanan bir sorun gördüğünde,
        ürünü/ürünleri kabul etmemekle ve kargo firması yetkilisine tutanak tutturmakla sorumludur.</li>
      <li>Mesafeli satış sözleşmesine konu ürün/ürünlerin teslimatı için işbu mesafeli satış sözleşmesinin elektronik ortamda teyit
        edilmiş olması ve ürün/ürünlerin bedelinin Alıcı'nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Satın alınan ürünlere
        ilişkin ödeme pay-pal, kredi kartı veya havale yoluyla peşin olarak, alıcı tarafından gerçekleştirilir. Alıcı satış bedelinin
        tamamını, Katma Değer Vergisi'ni (KDV) ve %15 aracı şirket komisyonunu ödediği anda ARACI'nin ürünü teslim yükümlülüğü doğacaktır.
        Herhangi bir nedenle ürünün/ürünlerin bedeli ödenmez veya banka kayıtlarında iptal edilir ise, ARACI ürünün/ürünlerin teslimi
        yükümlülüğünden kurtulmuş kabul edilir</li>
      <li>Mesafeli satış sözleşmesine konu ürüne/ürünlere ilişkin ödemenin Alıcı tarafından kredi kartı ile yapılması durumunda,
        Alıcı ile kredi kartı sahibinin ya da ürünün/ürünlerin teslim edileceği kişinin farklı olmasından kaynaklanabilecek olan,
        kredi kartının yetkisiz kişilerce haksız ve hukuka aykırı olarak kullanılması da dahil olmak üzere türlü hukuki risk,
        Alıcı'ya aittir. Alıcı, bahsi geçen durumlarda herhangi bir şekilde zarara uğraması halinde ARACI'den hiçbir talepte
        bulunmayacağını kabul ve taahhüt eder.</li>
      <li>Alıcı, Sözleşme konusu ürünün Alıcı veya Alıcı’nın gösterdiği adresteki kişi/kuruluşa tesliminden sonra Alıcı'ya ait
        kredi kartının yetkisiz kişilerce haksız kullanılması sonucunda sözleşme konusu ürün bedelinin ilgili banka veya finans kuruluşu
        tarafından ARACI yA ödenmemesi halinde, Alıcı Sözleşme konusu ürünü 3 gün içerisinde nakliye gideri Alıcı’ya ait olacak şekilde
        ARACI’ya iade edeceğini kabul, beyan ve taahhüt eder.</li>
      <li>Alıcı tarafından, mesafeli satış sözleşmesine konu ürüne/ürünlere ilişkin ödemenin ‘hesaba yatırma’ şeklinde yapılması durumunda,
        ürünün/ürünlerin bedelinin işbu sözleşmede belirtilen şartlar çerçevesinde Alıcı'ya iade edilmesinin gerektiği hallerde kullanılmak
        üzere kendisine ait bir banka hesabına ait IBAN numarasını doğru ve eksiksiz bir şekilde ARACI’ya bildirmeyi ve ARACI tarafından
        IBAN numarasına iade yapılmasına muvafakat ettiğini kabul ve taahhüt eder.</li>
      <li>Alıcı ve ARACI işbu mesafeli satış sözleşmesinin başında bahsedilen yazışma adreslerinin geçerli tebligat adresi olduğunu ve
        bu adrese yöneltilecek tüm tebligatların geçerli addolunacağını kabul, beyan ve taahhüt eder.</li>
      <li>Taraflar işbu Sözleşme şartlarının yanı sıra Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği
        hükümlerini kabul ettiklerini ve bu hükümlere uygun hareket edeceklerini kabul, beyan ve taahhüt ederler.</li>
      <li>18 yaşından küçük kişiler ile ayırt etme gücünden yoksun veya kısıtlı erginler ARACI’dan alışveriş yapamaz.</li>
      <li>İşbu Sözleşme'nin tüm maddeleri Taraflarca okunmuş ve kabul edilmiş olup, işbu Sözleşme Alıcı tarafından elektronik olarak
        onaylandığı tarihte yürürlüğe girer.</li>
    </ol>
    <h5>MADDE 5- CAYMA HAKKI </h5>
    <ol type="A">
      <li>Alıcı, işbu Sözleşme konusu ürünün kendisine veya gösterdiği adresteki kişiye/kuruluşa tesliminden itibaren 14 (on dört)
        gün içerisinde herhangi bir gerekçe göstermeksizin işbu Sözleşmeden cayma hakkına sahiptir. Alıcı'nın, cayma hakkını
        kullanabilmesi için, bu süre içinde ARACI’ya bildirimde bulunması şarttır. Alıcı’nın Cayma hakkının kullanılabilmesi
        için ürüne zarar gelmemiş olması kaydıyla ARACI'ya iletişim bilgileri vasıtasıyla yazılı olarak bildirimde bulunmak zorundadır.
        İşbu bildirim iadeli taahhütlü posta, faks veya e-posta yoluyla olabilir. Alıcı’nın kusurundan kaynaklanan bir nedenle malın
        değerinde bir azalma olursa veya iade imkânsızlaşırsa Alıcı kusuru oranında ARACI’nın zararlarını tazmin etmekle yükümlüdür.</li>
      <li>Cayma hakkı bildiriminin ARACI'ya ulaşmasını takiben ARACI bildirimin kendisine ulaştığına ilişkin teyit bilgisini ALICI ile
        paylaşacak ve bildirimin ulaşma tarihini takiben de 14 (on dört) gün içinde ARACI cayma hakkına konu ürünün/ürünlerin bedelini
        ödeme şekline uygun bir şekilde Alıcı'ya iade edecektir. </li>
    </ol>
    <h5>MADDE 6- CAYMA HAKKININ İSTİSNALARI </h5>
    <p>27.11.2014 tarihli 29188 sayılı Resmi Gazetede yayımlanan MESAFELİ SÖZLEŞMELER YÖNETMELİĞİ uyarınca;</p>
    <ol type="a">
      <li>Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan
        mal veya hizmetlere ilişkin sözleşmeler.</li>
      <li>Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.</li>
      <li>Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.</li>
      <li>Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve
        hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.</li>
      <li>Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.</li>
      <li>Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap,
        dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler.</li>
      <li>Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.</li>
      <li>Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan
        boş zamanın değerlendirilmesine ilişkin sözleşmeler.</li>
      <li>Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.</li>
      <li>Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler ,
        bakımından cayma hakkının kullanılması mümkün değildir.</li>

    </ol>
    <h5>MADDE 7- BORÇLUNUN TEMERRÜDÜ</h5>
    <p>ALICI, kredi kartı ile yapmış olduğu işlemlerinde temerrüde düşmesi halinde kart sahibi bankanın kendisi ile yapmış olduğu
      kredi kartı sözleşmesi çerçevesinde faiz ödeyeceğini ve bankaya karşı sorumlu olacağını kabul, beyan ve taahhüt eder.
      Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vekâlet ücretini Alıcı’dan talep edebilir ve
      her koşulda Alıcı’nın borcundan dolayı temerrüde düşmesi halinde, ALICI, borcun gecikmeli ifasından dolayı ARACI'nın uğradığı zarar
      ve ziyanını ödeyeceğini kabul, beyan ve taahhüt eder.</p>
    <h5>MADDE 8- YETKİLİ MAHKEME </h5>
    <p>İş bu Sözleşme ile ilgili çıkacak ihtilaflarda her yıl Gümrük ve Ticaret Bakanlığı tarafından ilan edilen değere kadar
      Alıcı'nın yerleşim yerindeki Tüketici Sorunları Hakem Heyetleri, söz konusu değerin üzerindeki ihtilaflarda ise
      Tüketici Mahkemeleri yetkilidir.</p>
      <p>SATICI      :</p>
      <p>ALICI       :</p>
      <p>TARİH       :</p>

  </div>

</div>



<%-include("partials/footer"); -%>
