<%-include("partials/header"); -%>
<ul class="nav nav-tabs ">
  <li class="nav-item">
    <a class="nav-link " href="/">Duyurular</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/aktif-mezatlar">Aktif Mezatlar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sonlanan-mezatlar">Sonlanan Mezatlar</a>
  </li>

</ul>

  <div class="container row "id="kondusyon">
    <div id="baslık">
      <h2>KAĞIT PARA KONDÜSYONLARI</h2>
    </div>
      <hr>
    <div class="">
      <h3 baslik>ÇİL-(ÇİL)-10</h3>
      <p> Herhangi bir kullanım, katlama veya eskime yoktur. Çok iyi korunmuş
         bu para hiç kullanılmamıştır. Kağıtta renk kaybı ve bozulması olmamıştır temiz ve düzgündür.
         Köşeler keskin ve sivridir, yuvarlaklaşma kesinlikle yoktur. Para kendi doğal parlaklığındadır.
         Bu paralar çil olarak kabul edilmektedir.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>ÇİL ALTI-(ÇA)-9</h3>
      <p>    Paranın tam ortasında çok hafif bir kat izi gibi, zorlukla farkedilebilen kusuru vardır ancak
        kağıdın yüzeyini kıran (ezilme gibi) herhangi bir kusur yoktur. Kağıt temiz ve orijinal parlaklığındadır.
        Köşeler yuvarlaklaşmamıştır.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>ÇOK ÇOK TEMİZ-(ÇÇT)-8</h3>
      <p>      Çok az kullanılmış güzel bir para. En fazla üç taneye kadar ince çizik (çok hafif kırık) veya
        bir kuvvetli kırık mevcut olabilir. Kağıt temiz ve orjinal parlaklığındadır. Köşeler çok az yuvarlaklaşmış olabilir.
        Çiziğin kenarla buluştuğu noktada çok az bir yıpranma da olabilir.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>ÇOK TEMİZ-(ÇT)-7</h3>
      <p>    Biraz daha fazla yıpranma ve kullanımın farkedilebileceği ama yine de güzel bir para.
        Yatay ve dikey birkaç çizik yani çok hafif kırıklar olabilir. Kağıt çok az kirlenmiş veya rengi hafif grileşmiş olabilir.
        Kağıdın kendisi düzgündür yani yumuşak (ezik) değildir. Çerçeve alanında yırtıklar olmasa dahi kenarlar hafif yıpranmış olabilir.
        Köşeler de yıpranmış olabilir ancak tamamiyle yuvarlaklaşmamıştır.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>TEMİZ-(T)-6</h3>
      <p>    Kolaylıkla anlaşılabilecek şekilde tedavül görmüş bu para, birçok çiziklere, kırıklara ve büküklere sahip olabilir.
        Kağıt aşırı derecede kirli değildir ancak bazı yumuşamalar olabilir. Kenarlar paranın çok kullanılmış olduğunu belli eder durumda olup
        çerçevede ufak yıpranma yırtıkları olabilir. Yırtıklar çerçevededir, dizayn alanına kadar uzamaz. Çok fazla katlanmadan dolayı
        merkezde bir delik oluşmamıştır. Renkler belirgindir ama çok parlak değildir. Bir yada iki zımba deliği olağandışı yıpranma olarak
        sayılmaz. Genel görünüm hala istenen düzeydedir.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>ÇOK İYİ-(ÇOİ)-5</h3>
      <p>    Hırpalanmış çok kullanılmış bir para olmasına rağmen hala eksiksizdir. Köşelerde daha da fazla yıpranma ve yuvarlaklaşma,
        çentikler (kertik) bulunabilir. Yırtıklar dizayn alanına kadar uzanabilir. Renk bozulması, boya lekesi olabilir.
        Aşırı katlanmadan ötürü merkezde bir delik oluşmuş olabilir. İğne yada zımba deliği olabilir. Kağıt yumuşak, gevşek olabilir
        ama hiçbir parça eksik değildir.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>İYİ-(İ)-4</h3>
      <p>    İyice yıpranmış, çok kullanılmış bir para. Uzun zaman tedavül görmesinden dolayı, kalın birçok çizik ve kırıklar,
        boya lekesi, iğne-zımba deliği, kir, renk bozulması, kenar yırtıkları, merkezde delik,
        yuvarlaklaşmış köşeler gibi hasarlara sahip olabilir. Büyük parça eksiği bulunmaz.
        Kağıt üzerine şekil,resim vb. çizilmiş olabilir.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>ORTA-(O)-3</h3>
      <p>   Tamamiyle gevşek, kirli, çok kullanılmış bir para. Büyük parçalar yırtık-pırtık şekilde olabilir.
        Yırtıklar daha geniş olabilir. Paranın belirsiz ksıımları daha büyüktür.</p>
    </div>
    <hr>
    <div class="">
      <h3 baslik>ZAYIF-(Z)-2</h3>
      <p>   Birçok hasardan dolayı paçavra gibi olmuş, yıpranmış, lekeli, parçaları eksik, şekiller çizilmiş,
        daha büyük delikleri olan bir paradır. Parçaları bir arada bant tutuyor olabilir.
        Düzgün olmayan kenarlar kesilip düzeltilmiş olabilir.</p>
    </div>
  </div>
  <div class="container ">
    <div class="world-paper">
      <h3>WORLD PAPER MONEY  DÜNYACA KABUL EDİLMİŞ STANDART DERECELENDİRME</h3>
    </div>
    <table class="table-bordered world-table">

<tbody>
  <tr>
  <th scope="row"><h5>UNCIRCULATED, (UNC) 10</h5>
  <br>
  <p>This means absolutely not the slightest sign of any handling or wear or folding or *anything*.
    A perfectly preserved note, never mishandled by the issuing authority, a bank teller, the public or a collector.
    The paper should be clean and firm, without discoloration. Corners are sharp and square, without any evidence of rounding.
    The note should also have it’s natural sheen.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>ALMOST or ABOUT UNCIRCULATED, (AU) 9</h5>
    <br>
    <p>This means there is a slightly detectable imperfection such as a counting fold on one corner or
      slightest fold in the center (nothing which breaks the surface of the paper).
      May show evidence of bank counting folds at a corner or one light fold through the center, but not both.
      Paper is clean and bright with the original sheen. Corners are not rounded.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>EXTREMELY FINE, (EF or XF) 8</h5>
    <br>
    <p>Very attractive note, with light handling. May have a maximum of three light folds or one strong crease.
      Paper is clean and bright with original sheen. Corners may show only the slightest evidence of rounding.
      There may also be the slightest sign of wear where a fold meets the edge.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>VERY FINE, (VF) 7</h5>
    <br>
    <p>Very attractive note, but with more evidance of handling and wear. May have a number of folds both vertically and horizontally.
      Paper may have minimal dirt, or possible color smudging.
      Paper itself is relatively crisp and not floppy. There are no tears into the border area, although the edges do show slight wear.
      Corners also show wear but not full rounding.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>FINE, (F) 6</h5>
    <br>
    <p>A note which shows considerable circulation, with many folds, creases and wrinkling.
      Paper is not excessively dirty but may have some softness.
      Edges may show much handling, with minor tears in the border area.
      Tears may not extend into the design. There will be no center hole because of excessive folding.
      Colors are clear but not very bright. A staple hole or two would not be considered unusual wear in a Fine note.
      Overall apperance is still on the desirable side.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>VERY GOOD, (VG) 5</h5>
    <br>
    <p>A well-used note, abused but still intact. Corners may have much wear and rounding, tiny nicks, tears may extend into the design,
      some discoloration may be present, staining may have occurred, and a small hole may be seen at center from excessive folding.
      Staple and pinholds are usually present, and the note itself is quite limp but no pieces of the note are missing.
      A note is VG condition may still have a overall unattractive apperance.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>GOOD, (G) 4</h5>
    <br>
    <p>A well-worn and heavily-used note. Normal damage from prolonged circulation will include strong multiple folds and
      creases, stains, pinholes and/or staple holes, dirt, discoloration, edge tears, center hole, rounded corners and
      an overall unattractive apperance. No large pieces of the note may be missing.
      Graffiti is commonly seen on notes in G condition.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>FAIR, (F) 3</h5>
    <br>
    <p>A totally limp, dirty, and very well-used note. Large pieces may be half torn off or missing besides the defects mentioned under the Good category.
      Tears will be larger, obscured portions of the note will be bigger.</p></th>

  </tr>
  <tr>
    <th scope="row"><h5>POOR, (P) 2</h5>
    <br>
    <p>A "rag” with severe damage because of wear, staining, pieces missing, graffiti, larger holes. May have tape holding pieces of the note together.
      Trimming may have taken place to remove rough/edges.</p></th>

  </tr>

</tbody>

    </table>
  </div>

  <div class="container">
    <div class="kanun">
      <h3>2863 SAYILI KÜLTÜR VE TABİAT VARLIKLARINI KORUMA KANUNU’NUN KOLEKSİYONCULARI İLGİLENDİREN MADDESİ</h3>
    </div>
    <div class="maddeler">
      <p><strong>Madde 23 –</strong> Korunması gerekli taşınır kültür ve tabiat varlıkları şunlardır:</p>
      <p><strong>a)</strong> <i>(Değişik: 17/6/1987 – 3386/9 md.)</i> Jeolojik, tarih öncesi ve tarihi devirlere ait, jeoloji, antropoloji, prehistorya,
        arkeoloji ve sanat tarihi açılarından belge değeri taşıyan ve ait oldukları dönemin sosyal, kültürel, teknik ve ilmi özellikleri ile
        seviyesini yansıtan her türlü kültür ve tabiat varlıkları;</p>
      <p>Her çeşit hayvan ve bitki fosilleri, insan iskeletleri, çakmak taşları (sleks), volkan camları (obsidyen), kemik
        veya madeni her türlü aletler, çini, seramik, benzeri kab ve kacaklar, heykeller, figürinler, tabletler, kesici, koruyucu
        ve vurucu silahlar, putlar (ikon), cam eşyalar, süs eşyaları (hülliyat), yüzük taşları, küpeler, iğneler, askılar, mühürler,
        bilezik ve benzerleri, maskeler, taçlar (diadem), deri, bez, papirus, parşümen veya maden üzerine yazılı veya tasvirli belgeler,
        tartı araçları, sikkeler, damgalı veya yazılı levhalar, yazma veya tezhipli kitaplar, minyatürler, sanat değerine haiz gravür,
        yağlıboya veya suluboya tablolar, muhallefat (religue’ler), nişanlar, madalyalar, çini, toprak, cam, ağaç, kumaş ve benzeri
        taşınır eşyalar ve bunların parçaları,</p>
      <p>Halkın sosyal heyetini yansıtan, insan yapısı araç ve gereçler dahil, bilim, din ve mihaniki sanatlarla ilgili etnografik
        nitelikteki kültür varlıkları.</p>
      <p>Osmanlı Padişahlarından Abdülmecit, Abdülaziz, V. Murat, II. Abdülhamit, V. Mehmet Reşat ve Vahidettin ve aynı çağdaki sikkeler,
        bu Kanuna göre tescile tabi olmaksızın yurt içinde alınıp satılabilirler.</p>
      <p>Bu madde kararına girmeyen sikkeler bu Kanunun genel hükümlerine tabidir.</p>
      <p><strong>b)</strong> Milli tarihimizdeki önemleri sebebiyle, Milli Mücadele ve Türkiye Cumhuriyetinin kuruluşuna ait tarihi değer taşıyan belge ve eşyalar,
        Mustafa Kemal ATATÜRK’e ait zati eşya, evrak, kitap, yazı ve benzeri taşınırlar.</p>

    </div>

  </div>

<%-include("partials/footer"); -%>
